@model PersonalBlog_Proje.Areas.Writer.Models.UserLoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Weblog a Blogging Category Bootstrap responsive WebTemplate | Blog2 :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Weblog a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="~/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="css/single.css">
    <link href="~/web/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/web/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
</head>
<body>
    <header>
        <div class="top-bar_sub_w3layouts container-fluid">
            <div class="row">
                <div class="col-md-4 logo text-left">
                    <a class="navbar-brand" href="index.html">
                        <i class="fab fa-linode"></i> GENÇ YAZARLAR
                    </a>
                </div>
                <div class="col-md-4 top-forms text-center mt-lg-3 mt-md-1 mt-0">
                    <span>Hoş Geldiniz !</span>
                    <span class="mx-lg-4 mx-md-2  mx-1">
                        <a href="/Writer/Login/Index/">
                            <i class="fas fa-lock"></i> Giriş Yap
                        </a>
                    </span>
                    <span>
                        <a href="/Writer/Register/Index/">
                            <i class="far fa-user"></i> Kayıt Ol
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="header_top" id="home">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a href="/WriterBlog/Blog/Index" class="btn btn-primary read-m">Ana Sayfa</a>
                            </li>
                        </ul>
                    <form action="#" method="post" class="form-inline my-2 my-lg-0 header-search">
                        <input class="form-control mr-sm-2" type="search" placeholder="Arama yap..." name="Search" required="">
                        <button class="btn btn1 my-2 my-sm-0" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
            </nav>
        </div>
    </header>
    <div class="banner-inner">
    </div>
    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">Giriş Yap</h3>
            <div class="row inner-sec">
                <div class="login p-5 bg-light mx-auto mw-100">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="exampleInputPassword1 mb-2">Kullanıcı Adı</label>
                            <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" name="Username" placeholder="Kullanıcı adınız">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1 mb-2">Şifre</label>
                            <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" name="Password" placeholder="Şifreniz">
                        </div>
                        <div class="form-check mb-2">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Beni Hatırla</label>
                        </div>
                        <button type="submit" class="btn btn-primary submit mb-4">Giriş Yap</button>
                        <p><a href="/Writer/Register/Index/"> Bir Hesabınız Yok Mu?</a></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                    <h3>Hakkımızda</h3>
                    <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. lacinia eget consectetur sed, convallis at tellus..</p>
                </div>
                <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                </div>
                <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
                    <div class="tech-btm">
                        <img src="~/web/images/banner1.jpg" class="card-img-top img-fluid" alt="">
                    </div>
                    <div class="tech-btm">
                        <h4 style="color:white;">Haber bültenimize kaydolun</h4>
                        <a style="font-size:16px; padding:10px 110px;" href="/Writer/Register/Index/" class="btn btn-primary read-m">Şimdi Kayıt OL</a>
                    </div>
                </div>
            </div>
            <div class="footer-cpy text-center">
                <div class="footer-social">
                    <div class="copyrighttop">
                        <ul>
                            <li class="mx-3">
                                <a class="facebook" href="#">
                                    <i class="fab fa-facebook-f"></i>
                                    <span>Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a class="facebook" href="#">
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span>
                                </a>
                            </li>
                            <li class="mx-3">
                                <a class="facebook" href="#">
                                    <i class="fab fa-google-plus-g"></i>
                                    <span>Google+</span>
                                </a>
                            </li>
                            <li>
                                <a class="facebook" href="#">
                                    <i class="fab fa-pinterest-p"></i>
                                    <span>Pinterest</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/web/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!--/ start-smoth-scrolling -->
    <script src="~/web/js/move-top.js"></script>
    <script src="~/web/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>
    <script src="~/web/js/bootstrap.js"></script>


</body>

</html>
