@using Entities.DTOs
@model List<BlogDto>

@{
    Layout = null;
}

<!DOCTYPE html>

<div class="tech-btm">
    <h4>En Çok Okunan Makaleler</h4>
    @foreach (var item in Model)
    {
        <div class="blog-grids row mb-3 text-left">
            <div class="col-md-5 blog-grid-left">
                <a href="/WriterBlog/Blog/BlogDetails/@item.BlogID" >
                    <img src="@item.ImageUrl" class="card-img-top img-fluid" alt="">
                </a>
            </div>
            <div class="col-md-7 blog-grid-right">
                <h5>
                    <a href="/WriterBlog/Blog/BlogDetails/@item.BlogID">@item.Title </a>
                </h5>
                <div class="sub-meta">
                    <span>
                        <i class="far fa-clock"></i> @(((DateTime)item.DateAdded).ToString("MM.dd.yyyy"))
                    </span>
                </div>
            </div>
        </div>
    }
</div>


